@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

body {
    background: #fff;
}

.form-control {
    box-shadow: none !important;
}

.w-60 {
    width: 75%;
}

.w-85 {
    width: 85%;
}

header {
    background: #0d62ad !important;
    padding: 20px 85px;
    box-sizing: border-box;
}

.navbar {
    box-shadow: none;
}

.nav-link {
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    background: #f69831;
}

.active {
    background: #f69831 !important;
}

#slider {
    border-bottom: 2px solid #f69831;
}

#sobre {
    padding: 50px 0px;
}

.font-orange {
    color: #f69831!important;
}

.bg-orange {
    background: #f69831!important;
    border: none;
}

.font-white {
    color: #fff !important;
}

.bg-blue {
    background: #fbf3dd;
}

.font-500 {
    font-weight: 500;
}

#qualidade {
    background: url('../img/bg-qualidade.jpg');
    height: 650px;
}

#presenca {
    background: url('../img/bg-presenca.jpg');
    height: 439px;
}

#nosso-produto {
    background: url('../img/bg-product.jpg');
    height: 562px;
}

section.catalogo .img-products {
    margin-top: -70px;
}

@media screen and (max-width:950px) {
    section.catalogo .img-products {
        margin-top: -40px;
    }
}

@media screen and (max-width:777px) {
    section.catalogo .img-products {
        margin-top: 0;
        flex-wrap: row wrap;
    }
}

section.catalogo {
    padding: 20px 0px;
}

 ::-webkit-input-placeholder {
    color: rgb(168, 168, 168) !important;
}

 :-moz-placeholder {
    color: rgb(168, 168, 168) !important;
}

 ::-moz-placeholder {
    color: rgb(168, 168, 168) !important;
}

 :-ms-input-placeholder {
    color: rgb(168, 168, 168) !important;
}

.custom-file-control,
.form-control,
.is-focused .custom-file-control,
.is-focused .form-control {
    background-image: linear-gradient(0deg, #f69831 2px, rgba(0, 150, 136, 0) 0), linear-gradient(0deg, rgba(0, 0, 0, .26) 1px, transparent 0) !important;
}

.border-ore {
    border-top: 2px solid #f69831;
}

.img-sac {
    padding: 50px 0px;
}

.btn-env {
    padding: 10px 30px;
}

form {
    margin: 0;
}

.font-white-light {
    color: rgb(200, 200, 200);
}

.font-white-light-desc {
    color: #ee6203;
}

.hover {
    background: rgb(163, 163, 163);
}

.interna-qualidade {
    background-image: url('../img/bg-qualidade-interna.jpg');
    background-size: cover;
    height: 1320px;
}

section.interna-qualidade .items-content {
    margin-bottom: 80px;
}

section.interna-presenca {
    background: url('../img/bg-presenca-interna.jpg');
    padding: 50px 0px;
}

section.interna-presenca ul.flags {
    list-style: none;
}

.font-blue {
    color: #0d62ad;
}

section.interna-produtos {
    background: url('../img/bg-produtos-interna.jpg');
    padding: 100px 0;
    background-size: cover;
}

.font-brow {
    color: #944511;
}

section.interna-produtos a {
    text-decoration: none;
}

section.interna-produtos .produto-item {
    text-align: center;
    margin: 0 auto;
    display: block;
    flex-flow: row wrap;
    cursor: pointer;
}

@media screen and (min-width:530px) {
    section.interna-produtos .produto-item {
        width: 490px;
    }
}

.content-box {
    box-sizing: border-box;
}

section.interna-produtos .produto-item-descricao {
    background: #fcad09;
    padding: 10px;
    color: #fff;
    font-size: 18px;
}

section.produto-lista {
    padding: 150px 0;
    background: linear-gradient(180deg, #fb9600 0, #be4300);
}

section.produto-lista .col-md-12 ul {
    list-style: none;
}

section.produto-lista img.img-prod {
    border-radius: 50%;
    border: 8px solid #fcad09;
}

section.produto-lista a {
    text-decoration: none;
}

section.produto-lista ul.img-prod-link {
    text-align: center;
}

section.produto {
    padding: 120px 0;
}

footer .footer-top {
    background: #0060af;
    padding: 50px 0;
}

footer .footer-down {
    background: #f69831;
    color: #fff;
    padding: 10px;
    font-size: 0.5rem;
}

footer .text-center {
    font-size: 0.8rem;
}

footer .text-left {
    font-size: 0.8rem;
}

footer .font-white {
    font-size: 0.8rem;
}

footer .font-8 {
    font-size: 0.8rem;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

footer .font-white-light-desc {
    font-weight: 100;
}

footer .footer-down .text-right a {
    text-decoration: none;
}